<div>
<h1>Welcome to the Twitterbear family</h1>

<br>
<h2>Sign up for Twitterbear</h2>
<form action="/users" method= "post">
  First name:<br>
  <input type="text" name="user[first_name]"><br>
  Last name:<br>
  <input type="text" name="user[last_name]"><br>
  Username:<br>
  <input type="text" name="user[user_name]"><br>
  E-mail:<br>
  <input type="text" name="user[email]"><br>
  Gravatar URL:<br>
  <input type="text" name="user[image_url]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Sign up">
</form>
</div>
